body{
	box-sizing: border-box;
background-color: rgba(236, 181, 62, 0.95);
color:rgba(255, 255, 255, 1);
font-family: 'Lato', sans-serif;
width: 90%;
text-align:center;
margin: 0 auto;
}


h1,h2,legend {
font-family: 'Pacifico', cursive;
}

h1 {
	font-size: 3em;
}


button {
	display: block;
	width: 80px;
	height: 80px;
	background-image: url('../img/send.svg');
	background-color: rgba(236, 181, 62, 0.95);
	background-size: 90%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	margin: 0 auto;
	border: none;
	margin-top: 30px;
}

button:hover .label{
display: block;
}

fieldset{
	text-align: center;
}

fieldset p {
	font-weight: bold;
	padding-top: 20px; 
}

legend {
	background-color: white;
color: rgba(236, 181, 62, 0.95);
padding: 1px 343px;
font-size: 2em;
}

.envoyer {
	display: none;
}

textarea,input {
	
	background-color: transparent;
	border: 1px dashed white;

}

*[placeholder] { 
	color:#ffffff80; 
	text-align: center;
	padding-top: 2em;
	font-size: 1.5em;
}	
