* {
	box-sizing: border-box;
}

a:hover {
	opacity: .6;
	-webkit-transform: scale(.8);
	   -moz-transform: scale(.8);
	    -ms-transform: scale(.8);
	     -o-transform: scale(.8);
	        transform: scale(.8);
	transition: all .4s ease-in-out	;
}


.container {
	max-width: 80%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
}

h1, h2, h3 {
	font-family: 'Candal', sans-serif;
	color: #203c4e;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.2em;
}

p {
	font-size: 2em;
}

header {
	background-color: #fcfcfc;
}

header nav {
	font-size: 1.4em;
	color: #6091b2;
	font-weight: bold;
}

header nav a {
	text-decoration: none;

}

 nav ul  {
	display: flex;
	flex-direction: row;

}

nav ul a {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #233a48;
	font-weight: bold;
	font-family: 'Candal', sans-serif;
}

nav ul a .fas{
	color: #f98b9a;
	font-size: 1.5em;
}

nav > ul  {
	flex-direction: column;
}

nav ul li {
	padding : 20px;
}

 #section1 {
 	text-align: center;
 	display:flex;
 	flex-direction: column;
 	align-items: center;
	background: url('../img/background.jpg') no-repeat center;
	background-size: cover;
	padding: 20% 10% 30% 10%;
	color: hsl(0.0, 0.0%, 100.0%)
}

#section1  p {
	margin-top: 20px;
}

#section1 h1 {
	color: hsl(0.0, 0.0%, 100.0%);
}

form {
	background-color: #fb8b9b;
	padding: 2% ;
}

form input {
	border: none;
	background: transparent;
	color: hsl(0.0, 0.0%, 100.0%);
	text-transform: uppercase;
	margin-left: 165px;
	padding-left: 8%;
	width: 100%;
}

form label {
	margin-left: -200px;
}

.choix article {
	padding: 5% 0 5% 0;
}

#section2 article p {
	text-align: left;
}

.choix {
	text-align: center; 
	display: flex;
	flex-direction: column;
	color: grey;

}

.choix a {
	text-decoration: none;
	color: #fd8999;
	font-size: 1.5em;
}

 .choix a:hover {
	display: block;
	-webkit-transform: translate(10px);
	   -moz-transform: translate(10px);
	    -ms-transform: translate(10px);
	     -o-transform: translate(10px);
	        transform: translate(10px);;
	transition: all .4s ease-in-out	;
}

.choix h2 {
	margin: 15% 0 10% 0;
	border: 1px dashed #889596;
	border-bottom: none;
	padding: 5% 0 5% 0;
}


.choix h3 {
	padding: 2% 0 2% 0;
	color: #fd8999;
}

.choix a .fas {
	font-size: 2em;
	padding: 2% 0 2% 0;

}

.choix p {
	font-size: 1.5em;
}

.container {
	max-width: 80%;
	margin: 0 auto;
}

footer {
	background-color:#213e4e; 
	text-align: center;
	
}

small p {
	font-size: 1.3em;
	padding: 0% 20% 1% 20%;
	color: hsl(0.0, 0.0%, 100.0%);
} 

small p a {
color: hsl(0.0, 0.0%, 100.0%);
text-decoration: none;
} 


footer nav {
	padding-top: 3%;
}

footer li a {
	color: hsl(0.0, 0.0%, 100.0%);
	text-decoration: none;
	font-size: 1.5em;
}

footer img {
	width: 50px;
	margin-top: 2%;
}

@media screen and (min-width: 960px){
	header nav ul {
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }	


.choix {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
}

.choix h2 {
	flex-basis: 100%;
	margin-bottom: 10px;
	}

.choix article {
	flex: 1;
	padding: 0 10px 0 10px;
}

footer {
	margin-top: 30px;
}

footer nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0 20px 0 20px;
}
	
}